.topHead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../src/img/headbackground.jpg");
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.appImg {
  transition: transform .2s;
}

.appImg:hover {
    transform: scale(1.05);
  }
  
.title-btn {
  padding: 1rem;
}

.screenshot {
  width: 100%;
  background-image: url("../src/img/screenshotbg.jpg");
  background-color: rgba(0,0,0,.7);
  background-blend-mode: darken;

  /* set height and fixed bg to create parallax effect while scrolling */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}

.page-footer {
  background-color: black;
  color: antiquewhite;
}

.nav-item a:hover {
  color: red !important;
  cursor: pointer;
}

