.topHead {
    height: 100vh;
    min-height: 500px;
    background-image: url("../src/img/headbackground.jpg");
    background-color: rgba(0,0,0,.5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.title-btn {
  padding: 1rem;
}